PROJECT_NAME=Sidrería El Tonel API
ENVIRONMENT=production
DATABASE_URL=postgresql://usuario:password@host:5432/sidreria_el_tonel
SECRET_KEY=cambia_esto_por_una_clave_larga_unica_y_privada
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ALLOWED_ORIGINS=https://tu-panel.vercel.app,https://tu-web-publica.com
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_CALENDAR_ID=
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=
