PROJECT_NAME=Sidrería El Tonel API
ENVIRONMENT=production
DATABASE_URL=sqlite:///./sidreria_el_tonel.db
SECRET_KEY=cambia_esto_por_una_clave_larga_segura
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,https://tu-web.vercel.app
